<!DOCTYPE html>
<html lang="sp">

<%- include("partials/head") %>

      <body>
            <div class="container">

                  <%- include("partials/header") %>

                        <main class="main-section">

                              <!-- banner -->
                              <section class="banner">
                                    <img src="/img/banner.png" alt="banner">
                              </section>

                              <!-- Llama a products.ejs que esta en la carpeta partials, y en el segundo parametro paso un
                               objeto literal con la propiedad title que es un string y la propiedad products que recibe un array 
                               que viene de productosController.js -->
                              <%- include("partials/product", {title:"✨PRODUCTOS DESTACADOS ✨", products: featured }) %>
                                    <a href="productos/featured">ver mas...</a>

                                    <%- include("partials/product", {title:"🔥 ¡OFERTAS SÓLO POR HOY! 🔥", products: inSale }) %>
                                          <a href="productos/inSale">ver mas...</a>


                                          <!-- Register to our offers  -->
                                          <div class="form-container">
                                                <h4>RECIBA NUESTRAS OFERTAS</h4>
                                                <hr>
                                                <span class="require">* Requerido</span>
                                                <form action="" method="">
                                                      <div class="form">
                                                            <div class="input-container">
                                                                  <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                                                                  <span class="error-message">Debe ingresar su email</span>
                                                            </div>
                                                            <div class="check">
                                                                  <input type="checkbox" name="recordar" id="recordar">
                                                                  <label for="recordar"> Quiero recibir las mejores ofertas en mi correo </label>
                                                                  <span class="error-message">Debe aceptar las ofertas</span>
                                                            </div>
                                                            <div class="button-container">
                                                                  <span class="error-message">Credenciales inválidas</span>
                                                                  <button type="submit" class="btn btn-submit">Registrarme</button>
                                                            </div>
                                                            <span><a href="/usuarios/login">Ya tengo cuenta</a></span>
                                                      </div>
                                                </form>
                                          </div>
                        </main>

                        <%- include("partials/footer") %>
                              <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
                              <script src="js/index.js"></script>

            </div>
      </body>

</html>