<!DOCTYPE html>
<html lang="sp">

<%- include("../partials/head") %>

      <body>
            <div>

                  <%- include("../partials/header") %>

                        <main class="main-section">
                              <section class="container">

                                    <div class="container-title">
                                          <p>Nuevo| <%- product.sold %> vendidos</p>
                                          <p><%- product.name %></p>
                                    </div>

                                    <div class="image">
                                          <img src="/img/<%- product.category %>/<%- product.image ? product.image : 'defauld.png' %>" alt="">
                                    </div>

                                    <div class="compra-container">
                                          <div class="form-container">
                                                <form action="" method="">
                                                      <div class="form">
                                                            <div class="select-container">
                                                                  <label for="cantidad">Cantidad: </label>
                                                                  <select name="cantidad" class="input-select" id="cantidad">
                                                                        <option value="" hidden selected>1</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                  </select>
                                                                  <a href="/productos/carrito"><i class="fa-solid fa-cart-shopping"></i>+</a>
                                                            </div>
                                                            <div class="button-container">
                                                                  <button type="submit" class="btn btn-confirm">Confirmar Compra</button>
                                                            </div>
                                                            <div class="button-container">
                                                                  <button class="btn btn-confirm">
                                                                        <a href="/admin/products/edit/<%- product.id %>" class="editarProduc">EDITAR
                                                                              PRODUCTO</a>
                                                                  </button>
                                                            </div>
                                                      </div>
                                                </form>

                                                <!--<a href="/productos/delete/<%- product.id %>" class="action-button delete">BORRAR PRODUCTO</a>
                                                -->
                                                <form action="/admin/products/delete/<%- product.id %>?_method=DELETE" method="POST"
                                                      style="display: inline-flex">
                                                      <button type="submit" class="btn btn-submit">ELIMINAR PRODUCTO</button>
                                                </form>
                                          </div>
                                    </div>






                                    <div class="container-details">
                                          <div class="pago">
                                                <p class="price">$ <%- product.price %></p>
                                                <p>en 12x $ <%- (product.price*1.5)/12%></p>
                                          </div>
                                          <div class="container-compra">
                                                <p>
                                                      <a href="#">Ver los medios de pago</a><br>
                                                      Llega el martes xx de diciembre<br>
                                                      Devolución gratis<br>
                                                      Tenes 30 días desde que lo recibís<br>
                                                      Stock disponible<br>
                                                      cantidad unidades (<%- product.stock - product.sold %> disponibles)
                                                </p>
                                          </div>

                                          <h3>Descripción del Producto</h3>
                                          <div class="conteineir-decription">
                                                <p><%- product.description.replace(/\n/g, "<br />" ) %>
                                                </p>

                                          </div>
                                    </div>

                              </section>

                              <%- include("../partials/product", {title:"🔥 ¡OFERTAS SÓLO POR HOY! 🔥", products: inSale }) %>

                                    <!-- <section class="vip-products">
                                    <div class="container-title">
                                          <h3 class="title">✨PRODUCTOS DESTACADOS ✨</h3>
                                          <a href="#">ver mas...</a>
                                    </div>
                                    <article class="product">
                                          <div class="product-container">
                                                <a class="photo-container" href="/productos/descripcion">
                                                      <img class="photo" src="/img/Herramientas/Combo Moladora-Taladro.png" alt="plato nuevo">
                                                </a>
                                                <div class="valoracion">
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                            class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                                </div>
                                          </div>
                                          <h2 class="name">Combo Amoladora Gladiator + Taladro Percutor + 5 Discos</h2>
                                          <p class="price">$ 11.461</p>
                                          <p class="send">Envio Gratis</p>
                                    </article>
                                    <article class="product">
                                          <div class="product-container">
                                                <a class="photo-container" href="/productos/descripcion">
                                                      <img class="photo" src="/img/Herramientas/PicoPala.png" alt="plato nuevo">
                                                </a>
                                                <div class="valoracion">
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                            class="fa-sharp fa-solid fa-star"></i>
                                                </div>
                                          </div>
                                          <h2 class="name">Combo Pico Punta Pala+ Pala Corazón Forjada Gherardi</h2>
                                          <p class="price">$ 17.850</p>
                                          <p class="send">Envio Gratis</p>
                                    </article>
                                    <article class="product">
                                          <div class="product-container">
                                                <a class="photo-container" href="/productos/descripcion">
                                                      <img class="photo" src="/img/Electricidad/instalacionElectrica.png" alt="plato nuevo">
                                                </a>
                                                <div class="valoracion">
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                            class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                                </div>
                                          </div>
                                          <h2 class="name">Combo Instalación Electrica Domiciliaría</h2>
                                          <p class="price">$ 11.325</p>
                                          <p class="send">Envio Gratis</p>
                                    </article>
                                    <article class="product">
                                          <div class="product-container">
                                                <a class="photo-container" href="/productos/descripcion">
                                                      <img class="photo" src="/img/Jardin y piscinas/sillonesJardin.png" alt="plato nuevo">
                                                </a>
                                                <div class="valoracion">
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                            class="fa-sharp fa-solid fa-star"></i>
                                                </div>
                                          </div>
                                          <h2 class="name">Juego De 4 Sillas Sillon Jardin Garden Life Miami Exteriores</h2>
                                          <p class="price">$ 30.999</p>
                                          <p class="send">Envio Gratis</p>
                                    </article>
                              </section> -->
                        </main>

                        <%- include("../partials/footer") %>

                              <script src="js/index.js"></script>

            </div>
      </body>

</html>