<section class="vip-products">
      <div class="container-title">
            <h3 class="title">
                  <%= title %>
            </h3>
            <a href="#">ver mas...</a>
      </div>

      <% for( let i=0; i < 4; i++ ) { %>
            <article class="product">
                  <div class="product-container">
                        <a class="photo-container" href="/productos/descripcion/<%- products[i].id  %> ">
                              <img class="photo" src="/img/<%- products[i].category  %>/<%- products[i].image %>" alt="plato nuevo">
                        </a>
                        <div class="valoracion">
                              <% if (products[i].sold>5 & products[i].sold<=10) { %>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <% } else if (products[i].sold>10 & products[i].sold<=20) { %>
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                                      <% } else if (products[i].sold>20 & products[i].sold<=30) { %>
                                                                  <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                                        class="fa-sharp fa-solid fa-star"></i>
                                                                  <% } else if (products[i].sold>30 & products[i].sold<=50) { %>
                                                                              <i class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i>
                                                                              <% } else if (products[i].sold>30 &
                                                                                    products[i].sold
                                                                                    >50){ %>
                                                                                    <i class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i>
                                                                                    <% } %>
                        </div>

                        <% if (products[i].discount>0) { %>
                              <div class="descuento">
                                    <p>-<%- products[i].discount %>%</p>
                              </div>
                              <% } %>

                  </div>
                  <h2 class="name"><%- products[i].name %></h2>
                  <p class="price">$ <%- products[i].price %></p>
                  <p class="send">Envio Gratis</p>
            </article>

            <% } %>



</section>