<section class="vip-products">
      <div class="container-title">
            <h3 class="title">
                  <%- title %>
            </h3>
      </div>

      <% products.forEach((product)=> { %>
            <article class="product">
                  <div class="product-container">
                        <a class="photo-container" href="/productos/descripcion/<%- product.id  %> ">
                              <img class="photo" src="/img/<%- product.category  %>/<%- product.image %>" alt="">
                        </a>


                        <div class="valoracion">
                              <% if (product.sold>5 & product.sold<=10) { %>
                                          <i class="fa-sharp fa-solid fa-star"></i>
                                          <% } else if (product.sold>10 & product.sold<=20) { %>
                                                      <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                                      <% } else if (product.sold>20 & product.sold<=30) { %>
                                                                  <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i
                                                                        class="fa-sharp fa-solid fa-star"></i>
                                                                  <% } else if (product.sold>30 & product.sold<=50) { %>
                                                                              <i class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i><i
                                                                                    class="fa-sharp fa-solid fa-star"></i>
                                                                              <% } else if (product.sold>30 &
                                                                                    product.sold
                                                                                    >50){ %>
                                                                                    <i class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i><i
                                                                                          class="fa-sharp fa-solid fa-star"></i>
                                                                                    <% } %>
                        </div>

                        <% if (product.discount>0) { %>
                              <div class="descuento">
                                    <p>-<%- product.discount %>%</p>
                              </div>
                              <% } %>

                  </div>
                  <h2 class="name"><%- product.name %></h2>
                  <p class="price">$ <%- product.price %></p>
                  <p class="send">Envio Gratis</p>
            </article>

            <% }) %>



</section>