<!DOCTYPE html>
<html lang="sp">
<%- include("../partials/head") %>

      <body>
            <div class="container">
                  <%- include("../partials/header") %>
                        <main>
                              <div class="form-container">
                                    <h2>Editar Producto</h2>
                                    <p>Ingresá los datos a modificar</p>
                                    <form action="/admin/products/edit/<%= productToEdit.idProduct  %>?_method=PUT" method="POST"
                                          enctype="multipart/form-data">
                                          <div class="form">
                                                <div class="input-container">
                                                      <label for="name" class="form-label">Nombre:</label>
                                                      <input class="input-style" type="text" name="name" placeholder="Ej: Pico & Pala"
                                                            value="<%= productToEdit.name  %>">
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.name ? locals.errors.name.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="price" class="form-label">Precio:</label>
                                                      <input class="input-style" type="number" name="price" placeholder="Ej: 2500"
                                                            value="<%= productToEdit.price  %>">
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.price ? locals.errors.price.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="discount" class="form-label">Descuento:</label>
                                                      <input class="input-style" type="number" name="discount" placeholder="Ej: 10"
                                                            value="<%= productToEdit.discount  %>">
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.discount ? locals.errors.discount.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="description" class="form-label">Descripción:</label>
                                                      <textarea name="description" id="description" class="textarea-style"
                                                            placeholder="Ingrese la descripción"><%= productToEdit.description %></textarea>
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.description ? locals.errors.description.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-conteiner">
                                                      <label for="category" class="form-label">category:</label>
                                                      <select name="category" id="category">
                                                            <% for(let i=0; i<category.length;i++) {%>
                                                                  <% if (category[i].idCategory==productToEdit.subcategory.category.idCategory) { %>
                                                                        <option value="<%= category[i].idCategory %>" selected>
                                                                              <%= category[i].name %>
                                                                        </option>
                                                                        <%}else {%>
                                                                              <option value="<%= category[i].idCategory %>">
                                                                                    <%= category[i].name %>
                                                                              </option>
                                                                              <% } %>
                                                                                    <% } %>
                                                      </select>
                                                </div>
                                                <div class="input-conteiner">
                                                      <label for="subcategory" class="form-label">Subcategory:</label>
                                                      <select name="subcategory" id="subcategory">
                                                            <% for(let i=0; i<subcategory.length;i++) {%>
                                                                  <% if (subcategory[i].idSubCategory==productToEdit.subcategory.idSubCategory) { %>
                                                                        <option value="<%= subcategory[i].idSubCategory %>" selected>
                                                                              <%= subcategory[i].name %>
                                                                        </option>
                                                                        <%}else {%>
                                                                              <option value="<%= subcategory[i].idSubCategory %>">
                                                                                    <%= subcategory[i].name %>
                                                                              </option>
                                                                              <% } %>
                                                                                    <% } %>
                                                      </select>
                                                </div>

                                                <div class="input-container">
                                                      <label for="sold" class="form-label">Ventas:</label>
                                                      <input class="input-style" type="number" name="sold" placeholder="Ej: 0"
                                                            value="<%= productToEdit.sold  %>">
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.sold ? locals.errors.sold.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="stock" class="form-label">Stock:</label>
                                                      <input class="input-style" type="number" name="stock" placeholder="Ej: 150"
                                                            value="<%= productToEdit.stock  %>">
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.stock ? locals.errors.stock.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="input-container">
                                                      <label for="img" class="form-label">Imagen:</label>
                                                      <div class="input-file-container">
                                                            <p>Agregar Imagen</p>
                                                            <input class="input-file" type="file" id="image" name="image"
                                                                  value="<%= productToEdit.images[0].name %>">
                                                      </div>
                                                      <span class="error-message">
                                                            <%= locals.errors && locals.errors.img ? locals.errors.img.msg : null %>
                                                      </span>
                                                </div>
                                                <div class="button-container">
                                                      <button type="submit" class="btn btn-submit">Guardar</button>
                                                </div>
                                          </div>
                                    </form>
                              </div>

                        </main>

                        <%- include("../partials/footer") %>

                              <%- include("../partials/scripts") %>
            </div>
      </body>

</html>